*{
    scroll-behavior: smooth;
}

body {
    font-family: "Segoe", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    max-width: vhw;
}

.container {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    gap: 20px;
}

h2{
    text-align: center;
    margin: 10pt 0px 0px 0px;
    font-size: 20pt;
    font-weight: 900;
    text-transform: uppercase;
}

.card {
    flex-basis: calc(100% / 3 - 20px);
    background-color: rgb(255, 255, 255);
    margin: 20pt 0pt;
    color: rgb(54, 54, 54);
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 2px rgb(197, 197, 197);
    min-height: 75%;
    transition: padding 1s, box-shadow 2s;
}

.card:hover {
    padding: 30px;
    box-shadow: 0px 0px 15px 2px rgb(92, 92, 92);
}

.card img {
    border-radius: 5px;
    width: 100%;
}

.card h3 {
    font-size: 16pt;
    margin-top: 0;
    font-weight: 800;
    letter-spacing: 2px;
    text-decoration: underline;
    cursor: pointer;
    text-transform: uppercase;
}

.card a {
    color: rgb(54, 54, 54);
    text-decoration: none;
    font-size: 14pt;
    margin-top: 0px;
    margin-bottom: 0px;
}

.noticias{
    color:rgb(186, 28, 110)
}

.politica {
    color: #c2310d;
}

.tecnologia {
    color: #0d7ac2;
}

.esporte {
    color: #0dc268;
}

.cultura {
    color: #b6c20d;
}

button {
    margin-top: 15px;
    padding: 8px 24px;
    background-color: rgb(76, 168, 114);
    border: none;
    border-radius: 9px;
    box-shadow: 1px 1px 23px 2px rgb(82, 82, 82);
}

ul {
    margin: 0;
    font-size: 11pt;
    list-style: none;
    padding: 5px 0px;
    align-content: center;
}

li {
    padding: 10px;
}


header {
    width: 100%;
    background-color: #e7e7e7;
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
}

.container-header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    margin-left: 30px;
    font-size: 24pt;
    font-weight: bold;
    color: #70188d;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

nav ul li a:hover {
    color: #6c6c6c;
}

footer {
    background-color: #e7e7e7;
    color: #454545;
    padding: 14px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
}