* {
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(66, 66, 66);
    color: rgb(196, 196, 196);
}

h1{

    margin-top: 5rem;
    text-align: center;
    font-size: 24pt;
    letter-spacing: 3px;
}

p{
    margin: 2rem 5rem;
    font-size: 16pt;
}

#idade{
    margin: 0rem 2rem 0rem 5rem;
}

.input-basic{
    margin: 0rem 2rem 0rem 0.5rem;
    padding: 1.2rem 1.8rem;
    border-radius: 0.5rem;
    font-size: 14pt;
}